.home-bar {
  box-sizing: border-box;
  position: sticky;
  top: 0;
  height: 54px;
  border-bottom: 1px solid #ddd;
  padding: 0 15px;
  display: flex;
  width: 594px;
  align-items: center;
  background-color: #fff;
  z-index: 1;
  &-text {
    font-size: 19px;
    font-weight: 600;
    flex-grow: 1;
  }
  &-icon {
    position: relative;
    &-hover {
      color: $primary-color;
      @include box-overlay(37px, 37px);
    };
    &-hover:hover {
      background-color: $bg-hover;
      cursor: pointer;
    }
  };
};