.line {
  font-size: 13px;
  padding-left: 15px;
  margin-left: 30px;
  &-1 {
    margin-bottom: 10px;
    &-item {
      &-text {
        color: rgb(101, 119, 134);
        margin-right: 20px;
        text-decoration: none;
      };
      &-text:hover {
        text-decoration: underline;
      }
    };
  };
  &-2 {
    margin-bottom: 10px;
    &-item {
      &-text {
        color: rgb(101, 119, 134);
        margin-right: 20px;
        text-decoration: none;
      };
      &-text:hover {
        text-decoration: underline;
      };
    };
  };
  .inc {
    color: rgb(101, 119, 134);
  };
};