/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

$primary-color: rgba(29, 161, 242, 1.00);
$bg-hover: rgba(29, 161, 242, 0.1);
$trend-hover: rgba(170, 184, 194, 0.1);
$font: "system-ui", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
$border-image: 14px;
$url: 'https://images.unsplash.com/photo-1572491929821-e7964a44096a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=468&q=80';

@mixin box-overlay ($width, $height) {
	border-radius: 50%;
	width: $width;
	height: $height;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all .3s;
}

@mixin avatar($width, $height, $url) {
	width: $width;
	height: $height;
	border-radius: 50%;
	background-image: url($url);
	background-size: cover;
	background-position: center;
}

.home-page {
  display: flex;
}

.left-siderbar {
	font-family: $font;
	width: 23.5%;
	padding: 0;
}

.content {
  // width: 44%;
  min-width: 594px;
  max-width: 594px;
  font-size: 15px;
  font-family: $font;
  flex-grow: 1;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  position: relative;
};

.right-siderbar {
  font-family: $font;
  width: 32.5%;
}

@import './components/Menu/style.scss';
@import './components/HomeBar/style.scss';
@import './components/PostForm/style.scss';
@import './components/TimeLine/style.scss';
@import './components/Search/style.scss';
@import './components/Trending/style.scss';
@import './components/WhoToFollow/style.scss';
@import './components/Footer/style.scss';
@import './helpers/InfoCard/style.scss';
@import './helpers/Option/style.scss';
